body{
    margin: 0;
    padding: 0;
    background-color: rgba(0, 195, 255, 0.493);
}
header{
    width: 100%;
    background-color: rgb(43, 153, 226);
}
header{
    height: 15vh;
}
footer{
    height: 5vh;
}
.contPincipal{
    width: 100%;
    display: grid;
    grid-template-columns: 1r 2fr;
    gap: 5%;
}
h3{
    font-size:30px ;
    font-family: 'Ariel' ;
    color: rgb(100, 240, 240) ;

}